body{
    background-color: #fafafa;
    z-index: 1;
    color: #222;
    padding: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 1024px;
    margin: auto;
}

section#about{
    margin-top: 2rem;
}

@media (prefers-color-scheme: dark) {
    h1,h2,h3,h4,h5,p {
        color: #f2f2f2 !important;
    }
    body{
        background-color: rgb(31, 31, 31) !important;
    }
    .smiley-circle{
        background-color: rgb(24, 24, 24) !important;
    }
    button{
        background-color: rgb(31, 31, 31) !important;
        a{
            color: #f2f2f2 !important;
        }
        svg{
            fill: #f2f2f2 !important;
        }
    }
  }