header{
    @include bp-medium {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
}
.top-line{
    width: 100%;
    height: 3px;
    background-color: blue;
    border: none;
    outline: none;
    margin: 3rem 0;
}
h1{
    margin-bottom: 0;
    font-size: 2rem;
}


button#nav_contact-button{
    background-color: white;
    color: blue;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    outline: none;
    display: none;
    will-change: border;
    transition: border .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    @include bp-medium {
        display: block;
    }

    &:hover{
        a{
            color:  rgb(75, 75, 253);
            transition-delay: 0s;
        }
        svg{
            fill:  rgb(75, 75, 253);
            transition-delay: 0s;
        }
    }

    &:active{
       border: 2px solid rgb(75, 75, 253);
       transition-delay: 0s;
     }
    a{
        color: blue;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        will-change: color;
        transition: color .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    svg{
        fill: blue;
        margin-right: 1rem;
        will-change: fill;
        transition: fill .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    span{
        transform: translateY(1px)
    }
   }