header {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    button.arrow-button {
        margin-right: 1.5rem;
    }
    .title {
        font-size: 1.25rem;
        line-height: 1.5rem;
        max-width: 172px;
        font-weight: 500;
    }
}
