$bordercolor: #cbcbcb;
.table-index {
    width: 100%;
    overflow-y: auto;
    max-width: 700px;
    margin: 0 auto;
    table {
        overflow-y: auto;
        width: 100%;
        th {
            position: sticky;
            top: 0;
            background: $bg;
        }
        td {
            padding: 0.75rem 0.5rem;
        }
    }
}
table {
    border-collapse: collapse;
    width: calc(100% + 1rem);
    transform: translateX(-0.5rem);
    max-width: 800px;
    margin-bottom: 1.5rem;
}
tr {
    &:focus,
    &:active {
        color: $primary;
    }
    &.entry-row {
        cursor: pointer;
    }
}
th {
    padding: 0.5rem;
}
td {
    padding: 0 0.5rem;
    span.details {
        color: $text-highlight;
        font-size: 1rem;
        margin-top: 0.25rem;
        display: inline-block;
    }
}
td.when {
    vertical-align: top;
    line-height: 150%;
    font-size: 1.125rem;
    &::first-letter {
        text-transform: uppercase;
    }
}
tbody {
    tr {
        &:hover {
            color: $primary;
        }
    }
}
