.highlight {
    color: $text-highlight;
    text-decoration: none !important;
}

.is-title {
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-bottom: 0.5rem;
    color: $text;
    text-decoration: none !important;
}

.mini-title {
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 0.969375rem;
    font-weight: 400;
    color: $text-highlight;
}

.hoverable {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &:hover {
        opacity: 0.5;
    }
}
