p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    line-height: 1.33;
}

h6 {
    font-weight: 500;
    font-size: 1.5rem;
}

.mini-title {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.216667px;
    text-transform: uppercase;
    color: $text-highlight;
}
