p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    line-height: 1.33;
}

h6 {
    font-weight: 500;
    font-size: 1.5rem;
}

.mini-title {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.216667px;
    color: $text-highlight;
}

.description {
    margin: 1rem 0;
    .mini-title {
        margin-bottom: 1rem;
    }
}

.uppercase {
    text-transform: uppercase;
}

.text-body {
    font-size: 1.25rem;
    line-height: 115.1%;
}

ul {
    padding-left: 0;
    li {
        list-style-type: none;
        font-size: 1.25rem;
        line-height: 115.1%;
        margin-bottom: 0.25rem;
    }
}
